<a href="https://colab.research.google.com/github/glebmikha/data-analysis-master-class/blob/main/2-data-upload/gdrive_download_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Это ссылка на файл: https://drive.google.com/file/d/1pmGSMI2LuvsiBaBG5v7N8xfPedZbF020/view?usp=sharing из нее надо скопировать только id и запустить gdown

In [2]:
!gdown --id 1pmGSMI2LuvsiBaBG5v7N8xfPedZbF020

Downloading...
From: https://drive.google.com/uc?id=1pmGSMI2LuvsiBaBG5v7N8xfPedZbF020
To: /content/german-credit.csv
100% 50.5k/50.5k [00:00<00:00, 18.7MB/s]

Файл скачался. Нажми на значок папочки слева -- там будет этот файл (если нет, то нажми рефреш). Затем нажми на него правой кнопкой и там Copy path. Ну и читай его пандасом. Csv -- read_csv, excel -- read_excel

In [3]:
df = pd.read_csv('/content/german-credit.csv')

In [4]:
df.head()

   Unnamed: 0  Age     Sex  ...  Duration              Purpose default
0           0   67    male  ...         6             radio/TV       0
1           1   22  female  ...        48             radio/TV       1
2           2   49    male  ...        12            education       0
3           3   45    male  ...        42  furniture/equipment       0
4           4   53    male  ...        24                  car       1

[5 rows x 11 columns]