<a href="https://colab.research.google.com/github/glebmikha/data-analysis-master-class/blob/main/2-data-upload/gsheet_download_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 https://docs.google.com/spreadsheets/d/1q_VTfVH96wrHsbLNUDe8jT8MpfiHjrO8Kq2xQkbP1oQ/edit?usp=sharing

In [8]:
import pandas as pd

In [9]:
url = 'https://docs.google.com/spreadsheets/d/1q_VTfVH96wrHsbLNUDe8jT8MpfiHjrO8Kq2xQkbP1oQ/edit?usp=sharing'

In [10]:
url.split('/')

['https:',
 '',
 'docs.google.com',
 'spreadsheets',
 'd',
 '1q_VTfVH96wrHsbLNUDe8jT8MpfiHjrO8Kq2xQkbP1oQ',
 'edit?usp=sharing']

In [11]:
id = url.split('/')[5]

In [12]:
id

'1q_VTfVH96wrHsbLNUDe8jT8MpfiHjrO8Kq2xQkbP1oQ'

In [14]:
df = pd.read_csv(f'https://docs.google.com/spreadsheets/d/{id}/export?format=csv')

In [15]:
df.head()

   Unnamed: 0  Age     Sex  ...  Duration              Purpose default
0           0   67    male  ...         6             radio/TV       0
1           1   22  female  ...        48             radio/TV       1
2           2   49    male  ...        12            education       0
3           3   45    male  ...        42  furniture/equipment       0
4           4   53    male  ...        24                  car       1

[5 rows x 11 columns]

Мой канал в телеге https://t.me/mikhaylovgleb